body {
	overflow: overlay;
	overflow-x: hidden;
	min-width: 320px;
}

body.navOpen {
	overflow: hidden;
}

	.navOpen main,
	.navOpen footer {
		 filter: blur(2px);
		-webkit-filter: blur(2px);
		-moz-filter: blur(2px);
		-o-filter: blur(2px);
		-ms-filter: blur(2px);
	}

main {
	padding-top: 15px;
	padding-bottom: 15px;
	-webkit-transition: filter 0.3s linear;
	-o-transition: filter 0.3s linear;
	-moz-transition: filter 0.3s linear;
	transition: filter 0.3s linear;
}

h1 {
	margin-bottom: 30px;
}

p {
	margin-bottom: 15px;
}

	p > a,
	a.mail {
		padding: 5px 15px;
		margin: 0 -15px;
		color: #5656ff;
	}
	
		p > a:hover,
		p > a:focus,
		a.mail:hover,
		a.mail:focus {
			margin-top: -4px;
			color: #5656ff;
			text-decoration: none;
		}
		
			p > a:hover > span,
			p > a:focus > span,
			a.mail:hover > span,
			a.mail:focus > span {
				border-bottom: 1px solid #5656ff;
			}
			
a.mail .far {
	padding-right: 5px;
}
			
a:focus {
	outline: none;
}

hr {
	margin: 30px 0;
}

hr.alt {
	margin-top: 0;
	margin-bottom: 45px;
}

.error {
	color: #ff0000;
}

.btn.detail {
	margin-bottom: 15px;
}

.btn-primary {
	border-color: #5656ff;
	background-color: #5656ff;
}

.btn-primary:hover,
.btn-primary:focus {
	border-color: #3434fa;
	background-color: #3434fa;
}

.center-block {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.loggedIn .loggedInShow,
.loggedOut .loggedOutShow,
.registered .registeredShow,
.notRegistered .notRegisteredShow {
	display: block !important;
}

.loggedIn .loggedOutShow,
.loggedOut .loggedInShow,
.registered .notRegisteredShow,
.notRegistered .registeredShow {
	display: none !important;
}

.navbar {
	z-index: 1;
	height: 60px;
}

.navExt {
	position: relative;
    min-height: 40px;
    width: 100%;
	background-color: #e3e4e6;
	padding: 7px;
}

	.loggedInGreeting {
		float: right;
	}
	
		.loggedInGreeting a {
			color: #5656ff;;
		}
		
		.loggedInGreeting a:hover,
		.loggedInGreeting a:focus {
			margin-top: -4px;
			color: #5656ff;
			text-decoration: none;
		}
			.loggedInGreeting a:hover span,
			.loggedInGreeting a:focus span {
				border-bottom: 1px solid #5656ff;
			}

	.navExt .accountDropdownBox {
		-webkit-box-shadow: 0px 150px 300px -75px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 150px 300px -75px rgba(0,0,0,0.75);
		box-shadow: 0px 150px 300px -75px rgba(0,0,0,0.75);
		transform: translate3d(753px, -400px, 0px);
		overflow: hidden;
	}
	
	.navExt .login,
	.navExt .register,
	.navExt .forgotPassword {
		display: none;
		transition: transform 0.25s ease;
	}
	
	.navExt .login.transitioning,
	.navExt .login.active,
	.navExt .register.transitioning,
	.navExt .register.active,
	.navExt .forgotPassword.transitioning,
	.navExt .forgotPassword.active	{
		display: block;
	}
	
	.navExt .login {
		transform: translate3d(0px, -100%, 0px);
	}
	
	.navExt .register {
		transform: translate3d(0px, -100%, 0px);
	}
	
	.navExt .forgotPassword {
		transform: translate3d(0px, -100%, 0px);
	}
	
	.navExt .login.active {
		transform: translate3d(0px, 0px, 0px);
	}
	
	.navExt .register.active {
		transform: translate3d(0px, 0px, 0px);
	}
	
	.navExt .forgotPassword.active {
		transform: translate3d(0px, 0px, 0px);
	}
	
	.navExt .login.removing,
	.navExt .register.removing,
	.navExt .forgotPassword.removing {
		display: block;
	}
	
	.navExt .login.removing,
	.navExt .register.removing,
	.navExt .forgotPassword.removing {
		transform: translate3d(0px, 100%, 0px);
	}

	.navExt #loginBtn {
		float: right;
		background-color: #5656ff;
		color: #fff;
		border: 1px solid rgba(0,0,0,0);
		padding: 0 15px;
		margin-bottom: 0 !important;
		transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}
	
	.navExt #loginBtn:hover,
	.navExt #loginBtn:focus {
		background-color: #3434fa;
		box-shadow: none;
	}
	
	.navExt .dropdown-menu {
		background-color: #fff;
		min-width: 412px;
		padding: 18px 34px 29px 30px;
		border-radius: 0;
		border: 1px solid #000;
		border: none;
		margin-top: 7px;
		max-height: 386px;
		transition: max-height 0.25s ease;
	}
	
	.navExt .backToLogin {
		font-size: 22px;
		margin-left: 3px;
		color: #808080;
		transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}
	
	.navExt .backToLogin:hover,
	.navExt .backToLogin:focus {
		color: #000;
	}
	
	.navExt .dropdown-menu.registerActive {
		max-height: 457px;
	}
	
	.navExt .dropdown-menu.forgotPasswordActive {
		max-height: 241px;
	}
		
		.navExt .dropdown-menu .closeDropdown {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0 10px;
			font-size: 36px;
		}
		
		.navExt .dropdown-menu .closeDropdown:hover,
		.navExt .dropdown-menu .closeDropdown:focus {
			outline: none;
		}
	
		.navExt .dropdown-menu li {
			list-style: none;
		}
		
			.navExt .lead {
				display: block;
				margin-bottom: 10px;
				font-size: 36px;
			}
			
			.navExt .forgotPasswordOpener {
				color: #5656ff;
				float: right;
				background-color: transparent;
				font-size: 16px;
				font-weight: bold;
				margin-top: 6px;
			}
			
			.navExt .newRegisterText {
				font-size: 36px;
				font-weight: 100;
				margin-top: 22px;
				margin-bottom: -11px;
			}
			
			.navExt #registerLink {
				color: #5656ff;
				font-size: 36px;
				font-weight: 100;
			}
			
			.navExt .dropdown-menu li .btn {
				margin-top: 5px;
			}
			
			.navExt input {
				border-radius: .25rem !important;
				transition: border-color 0.25s ease;
			}
			
			.navExt #registerNick.invalid,
			.navExt #registerName.invalid,
			.navExt #registerEmail.invalid,
			.navExt #registerPassword.invalid,
			.navExt #registerPasswordRepeat.invalid {
				border-color: #ff0000;
			}
			
			.navExt #registerNick.valid,
			.navExt #registerName.valid,
			.navExt #registerEmail.valid,
			.navExt #registerPassword.valid,
			.navExt #registerPasswordRepeat.valid {
				border-color: #77dd77;
			}
			
			.navExt #regNickTaken,
			.navExt #regEmailTaken,
			.navExt #regNickInvalid,
			.navExt #regNameInvalid,
			.navExt #regEmailInvalid,
			.navExt #regPasswordInvalid,
			.navExt #regPasswordRepeatInvalid {
				position: absolute;
				top: -5px;
				left: 8px;
				padding: 0 5px;
				pointer-events: none;
				z-index: 100;
				color: #ff0000;
				display: block;
				background-color: #fff;
				opacity: 0;
				transition: top 0.25s ease, opacity 0.25s ease;
			}
			
			.navExt #regNickTaken.triggered,
			.navExt #regEmailTaken.triggered,
			.navExt #regNickInvalid.triggered,
			.navExt #regNameInvalid.triggered,
			.navExt #regEmailInvalid.triggered,
			.navExt #regPasswordInvalid.triggered,
			.navExt #regPasswordRepeatInvalid.triggered {
				top: -15px;
				opacity: 1;
			}

.navbar-brand {
	max-width: 300px;
}

.navbar-nav {
	white-space: nowrap;
}

	.navbar > .container-xl {
		max-width: 1170px;
		padding: 0;
	}
	
		.navbar-nav .nav-link span {
			display: inline-block;
			transition: color 0.25s ease;
		}
	
		.navbar-nav .nav-link:hover span,
		.navbar-nav .nav-link:focus span {
			color: #3434fa;
			/*transform: translate3d(0px, -4px, 0px);*/
		}
		
		/*.navbar-nav .active .nav-link:hover span,
		.navbar-nav .active .nav-link:focus span {
			transform: translate3d(0px, 0px, 0px);
		}*/
	
#navIcon {
	top: 0px !important;
    left: auto;
    right: 0;
    position: relative;
    float: right;
    display: none;
	color: #000;
	border: none;
    text-decoration: none;
    z-index: 100000;
    height: 60px;
    width: auto;
    margin-bottom: -18px;
    margin-top: -10px;
    padding-top: 12px;
    padding-right: 30px;
    transform-origin: right;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.25s, color 0.25s;
    -moz-transition: -moz-transform 0.25s, color 0.25s;
    -o-transition: -o-transform 0.25s, color 0.25s;
    transition: transform 0.25s, color 0.25s;
}

	#navIcon > .text {
		margin-top: 1px;
		font-size: 18px;
		line-height: 24px;
		text-transform: uppercase;
		-webkit-transition: color 0.25s;
		-o-transition: color 0.25s;
		transition: color 0.25s;
	}
	
	#navIcon > #hamburger {
		position: absolute;
		height: calc(100% - 14px);
		width: 20px;
		top: 14px;
		right: 0;
	}
	
		#navIcon > #hamburger > span {
			display: block;
			width: 20px;
			height: 2px;
			position: relative;
			top: 0;
			left: 0;
			background-color: #000;
			margin: 4px 0;
		}
		
		#navIcon > #hamburger > span:nth-child(1) {
			webkit-transition: -webkit-transform 0.125s ease-in-out 0.25s, width 0.125s ease-in-out 0.25s, height 0.125s ease-in-out 0.25s, background-color 0.25s ease;
			-moz-transition: -moz-transform 0.125s ease-in-out 0.25s, width 0.125s ease-in-out 0.25s, height 0.125s ease-in-out 0.25s, background-color 0.25s ease;
			-o-transition: -o-transform 0.125s ease-in-out 0.25s, width 0.125s ease-in-out 0.25s, height 0.125s ease-in-out 0.25s, background-color 0.25s ease;
			transition: transform 0.125s ease-in-out 0.25s, width 0.125s ease-in-out 0.25s, height 0.125s ease-in-out 0.25s, background-color 0.25s ease;
		}
		
		#navIcon > #hamburger > span:nth-child(2) {
			-webkit-transition: -webkit-transform 0.125s ease-in-out 0.3125s, width 0.125s ease-in-out 0.3125s, height 0.125s ease-in-out 0.3125s, background-color 0.25s ease;
			-moz-transition: -moz-transform 0.125s ease-in-out 0.3125s, width 0.125s ease-in-out 0.3125s, height 0.125s ease-in-out 0.3125s, background-color 0.25s ease;
			-o-transition: -o-transform 0.125s ease-in-out 0.3125s, width 0.125s ease-in-out 0.3125s, height 0.125s ease-in-out 0.3125s, background-color 0.25s ease;
			transition: transform 0.125s ease-in-out 0.3125s, width 0.125s ease-in-out 0.3125s, height 0.125s ease-in-out 0.3125s, background-color 0.25s ease;
		}
		
		#navIcon > #hamburger > span:nth-child(3) {
			webkit-transition: -webkit-transform 0.125s ease-in-out 0.375s, width 0.125s ease-in-out 0.375s, height 0.125s ease-in-out 0.375s, background-color 0.25s ease;
			-moz-transition: -moz-transform 0.125s ease-in-out 0.375s, width 0.125s ease-in-out 0.375s, height 0.125s ease-in-out 0.375s, background-color 0.25s ease;
			-o-transition: -o-transform 0.125s ease-in-out 0.375s, width 0.125s ease-in-out 0.375s, height 0.125s ease-in-out 0.375s, background-color 0.25s ease;
			transition: transform 0.125s ease-in-out 0.375s, width 0.125s ease-in-out 0.375s, height 0.125s ease-in-out 0.375s, background-color 0.25s ease;
		}
		
		.navOpen #navIcon > #hamburger > span {
			width: 0%;
		}
		
		.navOpen #navIcon > #hamburger > span:nth-child(1) {
			transition-delay: 0s;
		}
		
		.navOpen #navIcon > #hamburger > span:nth-child(2) {
			-webkit-transition: -webkit-transform 0.125s ease-in-out 0.0675s, width 0.125s ease-in-out 0.0675s, height 0.125s ease-in-out 0.0675s, background-color 0.25s ease;
			-moz-transition: -moz-transform 0.125s ease-in-out 0.0675s, width 0.125s ease-in-out 0.0675s, height 0.125s ease-in-out 0.0675s, background-color 0.25s ease;
			-o-transition: -o-transform 0.125s ease-in-out 0.0675s, width 0.125s ease-in-out 0.0675s, height 0.125s ease-in-out 0.0675s, background-color 0.25s ease;
			transition: transform 0.125s ease-in-out 0.0675s, width 0.125s ease-in-out 0.0675s, height 0.125s ease-in-out 0.0675s, background-color 0.25s ease;
		}
		
		.navOpen #navIcon > #hamburger > span:nth-child(3) {
			-webkit-transition: -webkit-transform 0.125s ease-in-out 0.125s, width 0.125s ease-in-out 0.125s, height 0.125s ease-in-out 0.125s, background-color 0.25s ease;
			-moz-transition: -moz-transform 0.125s ease-in-out 0.125s, width 0.125s ease-in-out 0.125s, height 0.125s ease-in-out 0.125s, background-color 0.25s ease;
			-o-transition: -o-transform 0.125s ease-in-out 0.125s, width 0.125s ease-in-out 0.125s, height 0.125s ease-in-out 0.125s, background-color 0.25s ease;
			transition: transform 0.125s ease-in-out 0.125s, width 0.125s ease-in-out 0.125s, height 0.125s ease-in-out 0.125s, background-color 0.25s ease;
		}
		
	#navIcon > #cross {
		position: absolute;
		height: 20px;
		width: 20px;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 11px;
		right: 0;
	}
	
		#navIcon > #cross > span {
			background-color: #000;
		}
		
		#navIcon > #cross > span:nth-child(1) {
			height: 0%;
			width: 2px;
			position: absolute;
			top: 3px;
			left: 12px;
			-webkit-transition: -webkit-transform 0.125s ease-in-out, width 0.125s ease-in-out, height 0.125s ease-in-out, background-color 0.25s ease;
			-moz-transition: -moz-transform 0.125s ease-in-out, width 0.125s ease-in-out, height 0.125s ease-in-out, background-color 0.25s ease;
			-o-transition: -o-transform 0.125s ease-in-out, width 0.125s ease-in-out, height 0.125s ease-in-out, background-color 0.25s ease;
			transition: transform 0.125s ease-in-out, width 0.125s ease-in-out, height 0.125s ease-in-out, background-color 0.25s ease;
		}
		
		#navIcon > #cross > span:nth-child(2) {
			width: 0%;
			height: 2px;
			position: absolute;
			left: 3px;
			top: 12px;
			-webkit-transition: -webkit-transform 0.125s ease-in-out 0.125s, width 0.125s ease-in-out 0.125s, height 0.125s ease-in-out 0.125s, background-color 0.25s ease;
			-moz-transition: -moz-transform 0.125s ease-in-out 0.125s, width 0.125s ease-in-out 0.125s, height 0.125s ease-in-out 0.125s, background-color 0.25s ease;
			-o-transition: -o-transform 0.125s ease-in-out 0.125s, width 0.125s ease-in-out 0.125s, height 0.125s ease-in-out 0.125s, background-color 0.25s ease;
			transition: transform 0.125s ease-in-out 0.125s, width 0.125s ease-in-out 0.125s, height 0.125s ease-in-out 0.125s, background-color 0.25s ease;
		}
		
		.navOpen #navIcon > #cross > span:nth-child(1) {
			height: 100%;
			-webkit-transition: -webkit-transform 0.125s ease-in-out 0.3125s, width 0.125s ease-in-out 0.3125s, height 0.125s ease-in-out 0.3125s, background-color 0.25s ease;
			-moz-transition: -moz-transform 0.125s ease-in-out 0.3125s, width 0.125s ease-in-out 0.3125s, height 0.125s ease-in-out 0.3125s, background-color 0.25s ease;
			-o-transition: -o-transform 0.125s ease-in-out 0.3125s, width 0.125s ease-in-out 0.3125s, height 0.125s ease-in-out 0.3125s, background-color 0.25s ease;
			transition: transform 0.125s ease-in-out 0.3125s, width 0.125s ease-in-out 0.3125s, height 0.125s ease-in-out 0.3125s, background-color 0.25s ease;
		}
		
		.navOpen #navIcon > #cross > span:nth-child(2) {
			width: 100%;
			-webkit-transition: -webkit-transform 0.125s ease-in-out 0.1875s, width 0.125s ease-in-out 0.1875s, height 0.125s ease-in-out 0.1875s, background-color 0.25s ease;
			-moz-transition: -moz-transform 0.125s ease-in-out 0.1875s, width 0.125s ease-in-out 0.1875s, height 0.125s ease-in-out 0.1875s, background-color 0.25s ease;
			-o-transition: -o-transform 0.125s ease-in-out 0.1875s, width 0.125s ease-in-out 0.1875s, height 0.125s ease-in-out 0.1875s, background-color 0.25s ease;
			transition: transform 0.125s ease-in-out 0.1875s, width 0.125s ease-in-out 0.1875s, height 0.125s ease-in-out 0.1875s, background-color 0.25s ease;
		}
		
.carousel.stage {
	margin-top: -15px;
	margin-bottom: 15px;
}

.tab-content .carousel.stage {
	margin-right: 0;
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.tab-pane .jQBracket {
	margin: auto;
}
	
.carousel-item {
	height: 60vh;
	min-height: 220px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.carousel-caption {
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

	.carousel-caption > h2 {
		font-size: 36px;
	}
	
	.carousel-caption > p {
		font-size: 24px;
	}

	
.carousel-indicators > li {
	transition: opacity 0.25s ease;
}
	
.carousel-indicators > li:hover,
.carousel-indicators > li:focus {
	opacity: 1 !important;
}
	
.nav-tabs {
	margin-top: -20px;
	border: none;
	text-align: center;
}

	.nav-tabs a {
		padding: 15px;
		color: #000;
	}
	
		.nav-tabs a:hover,
		.nav-tabs a:focus {
			text-decoration: none;
		}
		
		.nav-tabs a h2 {
			-webkit-transition: transform 0.25s, color 0.25s;
			-moz-transition: transform 0.25s, color 0.25s;
			-o-transition: transform 0.25s, color 0.25s;
			transition: transform 0.25s, color 0.25s;
		}
		
		.nav-tabs .active h2 {
			color: #5656ff;
		}
		
			.nav-tabs a:hover h2,
			.nav-tabs a:focus h2 {
				color: #5656ff;
				/*transform: translate3D(0, -10px, 0);*/
			}
			
.verticalContentNav {
	background-color: #5656ff;
	margin-bottom: 15px;
}

	.verticalContentNav a {
		text-align: center;
		padding: 15px 10px;
		border-bottom: 1px solid #000;
		color: #000;
		transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}
	
	.verticalContentNav a:hover,
	.verticalContentNav a:focus,
	.verticalContentNav a.active {
		background-color: #797a7a;
	}
	
	.verticalContentNav li:last-child a {
		border-bottom: none;
	}
			
.personContainer {
	float: left;
    width: 100%;
    margin-bottom: 60px;
}
			
	.personContainer .imgContainer {
		position: relative;
		overflow: hidden;
		float: left;
		margin-right: 30px;
		max-width: 370px;
		width: 100%;
		max-height: 280px;
		background-color: #ece9e7;
	}
	
		.personContainer .imgContainer img {
			max-width: none;
			height: 100%;
			height: 280px;
			width: auto;
		}

	.personContainer .emptyImageContainer {
		float: left;
		position: relative;
		padding: 0;
		width: 370px;
		margin-right: 30px;
		background-color: #cdcdcd;
	}

		.personContainer .emptyImageContainer:before {
			content: '';
			display: block;
			padding-bottom: 75.56%;
			background-color: #ece9e7;
		}
		
	.personContainer .emptyImage {
		background: url(../img/lnr-user.svg) no-repeat;
		position: absolute;
		left: 8px;
		top: 0;
		right: 0;
		bottom: 0;
		align-items: center;
		margin: 35px 95px 60px 95px;
		background-size: contain;
	}

	.personContainer .emptyImageText {
		position: absolute;
		bottom: 10%;
		left: 0;
		text-align: center;
		width: 100%;
		color: #cdcdcd;
	}

	.personContainer .mailContainer {
		margin-top: -10px;
		float: right;
		width: calc(100% - 400px);
		margin-bottom: 0;
	}
	
.tournamentContainer {
	margin: auto;
	margin-bottom: 30px;
	width: 100%;
}
	
	.tournamentContainer .tournamentWrapper {
		display: block;
		position: relative;
		overflow: hidden;
		width: 100%;
		background-color: #ece9e7;
	}

		.tournamentContainer .bannerImageContainer {
			position: relative;
			display: block;
			overflow: hidden;
			max-height: 427px;
			margin: auto;
		}
		
		.tournamentContainer.detail .bannerImageContainer {
			max-height: none;
		}

			.tournamentContainer .bannerImageContainer img {
				width: 100%;
			}

			.tournamentContainer .bannerImageContainer .textContainer {
				position: absolute;
				bottom: 0;
				background-color: rgba(169,145,101,.8);
				padding: 1px 29px 30px 29px;
				color: #fff;
				min-width: 100%;
				transition: transform .25s ease , background-color .25s ease;
			}
			
			.notransition {
				transition: none !important;
			}
			
			.tournamentContainer a:hover .bannerImageContainer .textContainer,
			.tournamentContainer a:focus .bannerImageContainer .textContainer {
				background-color: rgba(86,86,255,0.8);
				transform: translateY(0) !important;
			}
			
				.tournamentContainer .bannerImageContainer .textContainer .h2 {
					font-size: 28px;
					line-height: 32px;
					width: 100%;
					font-weight: 100;
					margin-top: 24px;
					margin-bottom: 30px;
					transition: margin-bottom .25s ease;
				}
				
				.tournamentContainer a:hover .bannerImageContainer .textContainer .h2,
				.tournamentContainer a:focus .bannerImageContainer .textContainer .h2 {
					margin-bottom: 10px;
				}
				
				.tournamentContainer.detail .bannerImageContainer .textContainer .h2 {
					margin-bottom: 0;
				}
				
					.tournamentContainer .bannerImageContainer .textContainer .description {
						font-size: 18px;
						line-height: 24px;
					}
.tournamentPlan {
	margin-bottom: 15px;
}

footer {
	padding: 15px;
	-webkit-transition: filter 0.3s linear;
	-o-transition: filter 0.3s linear;
	-moz-transition: filter 0.3s linear;
	transition: filter 0.3s linear;
}

.partners img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate3D(-50%, -50%, 0);
}

@media (max-width: 990px) {
	.navbar-light .navbar-nav .nav-link {
		font-size: 14px;
		padding: 6px;
	}
}

@media (max-width: 767px) {
	.navbar-collapse {
		display: block !important;
		z-index: 1;
        position: absolute;
        top: 56px;
        right: -66%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 66%;
		background-color: #f8f9fa;
		min-height: 100vh;
        -webkit-transition: transform 0.3s linear;
        -o-transition: transform 0.3s linear;
        -moz-transition: transform 0.3s linear;
        transition: transform 0.3s linear;
    }

	.navOpen .navbar-collapse {
        transform: translate3D(-100%, 0, 0);
		-webkit-box-shadow: -10px 8px 5px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: -10px 8px 5px 0px rgba(0,0,0,0.3);
		box-shadow: -10px 8px 5px 0px rgba(0,0,0,0.3);
    }
	
	#navIcon {
		display: inline-block;
	}
	
	.partners img {
		margin-bottom: 30px;
	}
	
	.personContainer .imgContainer {
		float: none;
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
		max-height: 545px;
	}
	
		.personContainer .imgContainer img {
			max-height: none;
			height: 545px;
			max-width: 100%;
			width: auto;
		}
		
	.personContainer .mailContainer,
	.personContainer .textContainer {
		width: 100%;
	}
	
	.personContainer .emptyImageContainer {
		display: none;
		float: none;
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	
	.tournamentContainer .bannerImageContainer {
		max-height: none;
	}
}

@media (max-width: 576px) {
	.navbar {
		padding-right: 0;	
	}
	
	.navbar-brand > img {
		max-width: 180px;
	}
}

@media (min-width: 1200px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1200px;
	}
	
	.navbar-expand-md .collapse.navbar-collapse {
		margin-right: -7px;
	}
}

@media (min-width: 767px) {
	.verticalContentNavContainer {
		-ms-flex-order: 2;
		order: 2;
	}
}